apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: {{ .Values.backend.port }}
    protocol: TCP
    name: http
  selector:
    app: backend
