# Default values for todo-chatbot-backend.
replicaCount: 1
image:
  repository: kiran8877/todo-chatbot-backend
  pullPolicy: IfNotPresent
  tag: "0.1.20"
service:
  type: ClusterIP
  port: 80
env:
  config:
    APP_NAME: "Todo Chatbot Backend"
    LOG_LEVEL: "INFO"
envSecret:
  DATABASE_URL: "postgresql://username:password@localhost:5432/dbname"
  GEMINI_API_KEY: "REPLACE_ME"
  SECRET_KEY: "phase2-secure-jwt-secret-key-minimum-32-characters-long"
  BETTER_AUTH_SECRET: "phase2-better-auth-secret-key-minimum-32-characters"
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 15
  periodSeconds: 20
readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
