apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  {{- range $key, $val := .Values.env.config }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
